.login-container {
    .header {
        height: 45px;
        text-align: right;
        border: 1px solid red;
    }

    .title {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
        font-weight: 500 ;
    }

    .welcome {
        font-size: 20px;
        padding: 10px 0;
        text-align: center;
    }
    .content-form {
        input {
            margin-bottom: 15px;
            margin-top: 3px;
        }

        .btn-submit {
            width: 100%;
            border: none;
            border-radius: 5px;
            background-color: black;
            color: white;
            height: 40px;
            margin: 10px 0;
        }
    }
}
